body {
    margin-bottom: 25px;
}

.container-margin {
    margin-top: 75px;
}

th.button-column-1 {
    width: 35px;
}

th.button-column-2 {
    width: 70px;
}

th.button-column-3 {
    width: 100px;
}

.table-header {
    border: 1px solid #ddd;
    border-bottom: 0px;
    padding: 8px;
}

.table-header .form-control {
    max-width: 24%;
}

.navbar-brand {
    color: #bbbbbb !important;
}

.navbar-brand:hover {
    color: #ffffff !important;
}

.navbar-nav li a {
    color: #bbbbbb !important;
}

.navbar-nav li a:hover {
    color: #ffffff !important;
    cursor: pointer;
}